.container{
  max-width: 120rem;
  margin: 8rem auto;
  background-image: linear-gradient(to right bottom, rgba(204, 193, 193, 0.2)),
  url('./images/darker.jpeg');
  box-shadow: 0 2rem 8rem rgba(0,0,0.3);
  background-size: cover;
  min-height: 100vh;

}

.top{
  height: 55rem;
}

.wrapper {
  background: rgba(252, 250, 250, 0.747);
  display: flex;
}

.left-wrapperContent{
  flex: 0 0 25%;

  
}



.today{
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.right-wrapperContent{
  flex:1;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
}